{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Gender Equality</h2>

    <div class="list-group">

        <a href="{% url 'gender1' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Women’s Empowerment in Higher Education
        </a>

        <a href="{% url 'gender2' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Policy on Whistleblower Protection and Institutional Accountability
        </a>

        <a href="{% url 'gender3' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Academic Support for Student Mothers
        </a>

        <a href="{% url 'gender4' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Initiatives to Promote Gender Equality in Academia
        </a>

        <a href="{% url 'gender5' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL Admission Advantages
        </a>


    </div>
</div>

{% endblock %}
