{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Partnerships for the Goals</h2>

    <div class="list-group">

        <a href="{% url 'partnerships1' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Direct Contribution to National and Regional SDG Policy Development— partnership with goals
        </a>

        <a href="{% url 'partnerships2' %}" target="_blank" class="list-group-item list-group-item-action">
            University-Driven Cross-Sector Dialogue for Advancing the SDGs
        </a>

        <a href="{% url 'partnerships3' %}" target="_blank" class="list-group-item list-group-item-action">
            University–NGO Partnerships for Advancing the SDGs
        </a>

        <a href="{% url 'partnerships4' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Global Contribution to SDG Best Practices Through International Research Collaboration
        </a>


    </div>
</div>

{% endblock %}
