{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Partnerships for the Goals</h2>

    <div class="list-group">

        <a href="{% url 'partnerships1' %}" target="_blank" class="list-group-item list-group-item-action">
            Strategic Academic Collaborations and International Engagement at Samarkand State Institute of Foreign Languages: Supporting the Sustainable Development Goals
        </a>

        <a href="{% url 'partnerships2' %}" target="_blank" class="list-group-item list-group-item-action">
            Strategic Partnerships at SamSIFL
        </a>

        <a href="{% url 'partnerships3' %}" target="_blank" class="list-group-item list-group-item-action">
            Erasmus+ Collaborations with SamSIFL
        </a>

        <a href="{% url 'partnerships4' %}" target="_blank" class="list-group-item list-group-item-action">
            Strategic Partnerships at SamSIFL
        </a>


    </div>
</div>

{% endblock %}
