{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Quality Education</h2>

    <div class="list-group">

        <a href="{% url 'quality1' %}" target="_blank" class="list-group-item list-group-item-action">
            Dedicated SDG and Sustainability Courses at SamSIFL
        </a>

        <a href="{% url 'quality2' %}" target="_blank" class="list-group-item list-group-item-action">
            Proportion of Graduates Eligible for Teaching Roles
        </a>

        <a href="{% url 'quality3' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Community Outreach for SDG Education
        </a>

        <a href="{% url 'quality4' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Open Access to Educational Resources for the Wider Community
        </a>

        <a href="{% url 'quality5' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Commitment to SDG Education for All Students
        </a>

        <a href="{% url 'quality6' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Community-Focused Educational Outreach Programs
        </a>

        <a href="{% url 'quality7' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Systematic Monitoring of Student Sustainability Literacy
        </a>

        <a href="{% url 'quality8' %}" target="_blank" class="list-group-item list-group-item-action">
            SamSIFL’s Public Engagement Through Open Educational Events
        </a>

        <a href="{% url 'quality9' %}" target="_blank" class="list-group-item list-group-item-action">
            Advancements in Scientific Endeavors at Samarkand State Institute of Foreign Languages
        </a>

        <a href="{% url 'quality10' %}" target="_blank" class="list-group-item list-group-item-action">
            Facilitating Scheduling Accessibility
        </a>

        <a href="{% url 'quality11' %}" target="_blank" class="list-group-item list-group-item-action">
            Fostering Inclusive Environments
        </a>

    </div>
</div>

{% endblock %}
