{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Quality Education</h2>

    <div class="list-group">

        <a href="{% url 'quality1' %}" target="_blank" class="list-group-item list-group-item-action">
            Academic Resources and Educational Opportunities at Samarkand State Institute of Foreign Languages
        </a>

        <a href="{% url 'quality2' %}" target="_blank" class="list-group-item list-group-item-action">
            Proportion of Graduates Eligible for Teaching Roles
        </a>

        <a href="{% url 'quality3' %}" target="_blank" class="list-group-item list-group-item-action">
            Access to Lifelong Learning Resources
        </a>

        <a href="{% url 'quality4' %}" target="_blank" class="list-group-item list-group-item-action">
            Electronic Resource Availability
        </a>

        <a href="{% url 'quality5' %}" target="_blank" class="list-group-item list-group-item-action">
            Scholarly and Educational Initiatives at Samarkand State Institute of Foreign Languages
        </a>

        <a href="{% url 'quality6' %}" target="_blank" class="list-group-item list-group-item-action">
            Cooperation with Schools
        </a>

        <a href="{% url 'quality7' %}" target="_blank" class="list-group-item list-group-item-action">
            Enhancing Internal Quality Assurance at Samarkand State Institute of Foreign Languages
        </a>

        <a href="{% url 'quality8' %}" target="_blank" class="list-group-item list-group-item-action">
            Partnership on Quality Education
        </a>

        <a href="{% url 'quality9' %}" target="_blank" class="list-group-item list-group-item-action">
            Advancements in Scientific Endeavors at Samarkand State Institute of Foreign Languages
        </a>

        <a href="{% url 'quality10' %}" target="_blank" class="list-group-item list-group-item-action">
            Facilitating Scheduling Accessibility
        </a>

        <a href="{% url 'quality11' %}" target="_blank" class="list-group-item list-group-item-action">
            Fostering Inclusive Environments
        </a>

    </div>
</div>

{% endblock %}
