{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2_1.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2_2.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2_3.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2_4.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2_5.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2_6.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships2_7.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
{% endblock %}
