{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships1.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships1_1.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships1_2.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships1_3.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>

</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships1_4.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
</div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm border-0" style="max-width: 900px; width: 100%;">
            <img src="{% static 'images/partnerships1_5.png' %}" class="card-img-top" alt="Image 1">
        </div>
    </div>

</div>
<div class="text-center my-4">
    <a href="/static/pdf/institute_council_table.pdf" target="_blank" class="btn btn-primary px-4 py-2"
        style="background-color:#002244; border:none; font-size:1.3rem; border-radius:10px;">
        Expanded Composition of the Institute Council and Rectorate Meeting
    </a>
</div>

{% endblock %}
