{% extends "base.html" %}
{% load static %}

{% block title %}Women's Empowerment - SDG{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Women's Empowerment</h1>

    <div class="mx-auto" style="max-width: 900px;">

        <!-- Statistics -->
        <a href="{% url 'statistics' %}" class="text-decoration-none">
            <div class="d-flex align-items-center my-4">
                <div class="flex-grow-1 border-bottom border-3" style="border-color: #002244;"></div>
                <span class="px-3 fw-bold fs-3" style="color: #002244;">Research</span>
                <div class="flex-grow-1 border-bottom border-3" style="border-color: #002244;"></div>
            </div>
        </a>
        <p>Here are our HUB announces the articles related to Quality education, Sustainable development goals and Women’s empowerment</p>
        <div class="container mt-4 mb-4">
            <div class="row g-4">

                <!-- 1 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/13-20+Esirgapov+M.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r1.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>

                <!-- 2 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/Статья-81966-ru.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r2.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 3 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/Статья-81962-ru2.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r3.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 4 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/teaching-english-language-for-the-blind.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r4.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 5 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/ARIMS+1916.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r5.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 6 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/vliyanie-sotsialnyh-setey-na-nashu-tsifrovuyu-zhizn (1).pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r6.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 7 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/zadachi_vysshey_shkoly_v_formirovanii_mezhdunarodnyh_otnosheniy.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r7.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 8 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/ready_aerticle_2.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r8.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 9 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/205_208+Integrating+Cultural+Awareness+in+Foreign+Language+Educ.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r9.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 10 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/EJAL+497+_Ready+to+print.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r10.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 11 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/18.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/r11.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Clubs -->
        <div class="d-flex align-items-center my-4">
            <div class="flex-grow-1 border-bottom border-3" style="border-color: #002244;"></div>
            <span class="px-3 fw-bold fs-3" style="color: #002244;">RESEARCH ON GENDER EQUALITY</span>
            <div class="flex-grow-1 border-bottom border-3" style="border-color: #002244;"></div>
        </div>
        <div class="container mt-4 mb-4">
            <div class="row g-4">

                <!-- 1 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/rg_1.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/rg_1.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>

                <!-- 2 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/rg_2.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/rg_2.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 3 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/rg_3.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/rg_3.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 4 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/rg_4.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/rg_4.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 5 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/rg_5.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/rg_5.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
                <!-- 6 -->
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{% static 'pdf/rg_6.pdf' %}" target="_blank">
                        <div class="card shadow-sm border-0">
                            <img src="{% static 'images/rg_6.png' %}" class="card-img-top border border-2 border-primary rounded" alt="">
                        </div>
                    </a>
                </div>
    </div>
</div>
{% endblock %}