{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ✅ Banner + Title -->
<div class="container mt-4">
    <h2 class="text-center mb-4">Sustainable Development Goals</h2>
    <!-- Banner rasm -->
    <div class="text-center mb-3">
        <img src="{% static 'images/sdg-uj.jpg' %}" 
             class="img-fluid rounded shadow"
             alt="SDG Banner">
    </div>

    <!-- Title (pdfga link) -->
    <h2 class="text-center mt-3">
        <a href="{% static 'pdf/SamSIFL_SDG_report_for_2024_new.pdf' %}" 
           target="_blank"
           class="text-decoration-none fw-bold"
           style="color: #002244; font-size: 32px;">
            SamSIFL's SDG REPORT 2024
        </a>
    </h2>
</div>


<div class="container mt-5 mb-5">

    <!-- <div class="row g-4">

  

        {% for i in "123456789abcdefg123"|slice:":17" %}
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG' %}{{ forloop.counter }}.pdf" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p' %}{{ forloop.counter }}.png"
                         class="card-img-top report-img"
                         alt="Report {{ forloop.counter }}">
                </div>
            </a>
        </div>
        {% endfor %}

    </div> -->
    <div class="row g-4">

        

        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG1.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p1.png' %}" class="card-img-top report-img" alt="Report 1">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG2.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p2.png' %}" class="card-img-top report-img" alt="Report 2">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG3.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p3.png' %}" class="card-img-top report-img" alt="Report 3">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG4.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p4.png' %}" class="card-img-top report-img" alt="Report 4">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG5.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p5.png' %}" class="card-img-top report-img" alt="Report 5">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG6.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p6.png' %}" class="card-img-top report-img" alt="Report 12">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG7.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p7.png' %}" class="card-img-top report-img" alt="Report 12">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG8.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p8.png' %}" class="card-img-top report-img" alt="Report 12">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG9.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p9.png' %}" class="card-img-top report-img" alt="Report 12">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG10.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p10.png' %}" class="card-img-top report-img" alt="Report 12">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG11.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p11.png' %}" class="card-img-top report-img" alt="Report 12">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG12.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p12.png' %}" class="card-img-top report-img" alt="Report 12">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG13.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p13.png' %}" class="card-img-top report-img" alt="Report 13">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG14.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p14.png' %}" class="card-img-top report-img" alt="Report 14">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG15.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p15.png' %}" class="card-img-top report-img" alt="Report 15">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG16.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p16.png' %}" class="card-img-top report-img" alt="Report 16">
                </div>
            </a>
        </div>
        
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% static 'pdf/SamDCHTI_SDG17.pdf' %}" target="_blank">
                <div class="card shadow-sm hover-card">
                    <img src="{% static 'images/p17.png' %}" class="card-img-top report-img" alt="Report 17">
                </div>
            </a>
        </div>
        

    </div>
</div>

<style>
.hover-card {
    width: 100%;
    height: 140px;
    background: #ffffff;
    border-radius: 14px;
    padding: 0;
    border: 2px solid #e0e0e0;
    transition: 0.25s ease;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.report-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 14px;
}

</style>

{% endblock %}
